body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #302E2B;
    color: #ffffFF;
}

.chess-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.player-name {
    width: 35%;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#player-1 {
    align-self: flex-start;
}

#player-2 {
    align-self: flex-end;
}

#chess-board {
    width: 500px;
}